$grayishBlue: hsl(237, 18%, 59%);
$softRed: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$darkDesaturatedBlue: hsl(236, 21%, 26%);
$veryDarkBlue: hsl(235, 16%, 14%);
$veryDarkBlackBlue: hsl(234, 17%, 12%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
